@import './utils/hsb';

/* Brand Colours */


$bright-blue-75: hsb(201, 94, 74);
$reveal-bright-blue: hsb(199,  88, 84);
$bright-blue-85: hsb(199, 88, 84);
$bright-blue-95: hsb(199, 58, 94);
$bright-blue-100: hsb(199, 20, 100);


$reveal-dark-blue:   hsb(201, 100, 64);

$detail-navbar-bg: hsb(201,90,74);




$slate-grey-98: hsb(201,  0, 98);
$slate-grey-97: hsb(201,  1, 97);
$slate-grey-95: hsb(201,  2, 95);
$slate-grey-90: hsb(201,  4, 90);
$slate-grey-80: hsb(201,  7, 80);
$slate-grey-70: hsb(201, 10, 70);
$slate-grey-60: hsb(201, 13, 60);
$slate-grey-50: hsb(201, 17, 50);
$slate-grey-40: hsb(201, 20, 40);
$slate-grey-30: hsb(201, 30, 30);


$validation-red:   hsb(  0, 100,  85); // contrast: 5.3
$validation-red-text: hsb(  0, 100,  65);
$validation-red-bg:   hsb(  0,   4,  99);
$validation-red-pale: hsb(  0,   1,  99);


$validation-amber: hsb( 40,  80,  95); // contrast: 1.9
$validation-amber-bg: hsb( 50,   6, 100);
$validation-amber-text: hsb( 35,  90,  90); // contrast: 2.5

$validation-green: hsb(160,  90,  70); // contrast: 2.7
$validation-green-text: hsb(160,  95,  50); // contrast: 5.0

$validation-green-bg: hsb(158,   6,  98);
$validation-green-pale: hsb(158,   1,  98);





// Contrast ratios (against white) and compliance levels for each slate

//              Text  Large Text*
//  95:  1.1    -     -
//  90:  1.3    -     -
//  80:  1.7    -     -
//  70:  2.3    -     -
//  60:  3.2    -     AA
//  50:  4.6    AA    AAA
//  40:  6.6    AA    AAA
//  30: 10      AAA   AAA
//
// * Large text: At least 18pt (~24px) or 14pt (~19px) bold
